<!--<hello name"{{name }}"></hello>-->
<label>
  <input type="number" [(ngModel)]="id">
</label>
<button *ngIf="id" (click)="CallApi()"> CLick</button>
<div *ngIf="res">
  <div *ngFor="let re of res" style="border: black solid 1px">
    <p>  {{re['company'].name}}</p>
    <p> lat:  {{re['address'].geo.lat}}</p>
    <p> lang:  {{re['address'].geo.lng}}</p>
  </div>
</div>
